.container {
  margin: 0 auto;
  background: #444753;
  border-radius: 5px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chat {
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  width: 100%;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
}

ol, ul {
  list-style: none;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.align-right {
  text-align: right;
}

.chat .chat-history .message-data-time {
  padding-left: 6px;
}

.me {
  color: #94C2ED;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  position: relative;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chat .chat-history .my-message {
  background: #86BB71;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .message.other-message:after {
  left: 93%;
  border-bottom-color: #94C2ED;
}

.chat .chat-message {
  padding: 30px;
  background: #F2F5F8;
}

.chat .chat-message textarea {
  width: 97%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-widget.ui-widget-content.ui-autocomplete{
  z-index: 1111;
  padding-left: 15px;
  width: 425px;
}
